div .content {
    display: grid;

    grid-template-areas:
            "avatar avatarData"
            "avatar block3";
    grid-template-rows: 130px 1fr;
    grid-auto-columns: 280px 2fr;
    grid-gap: 15px;
    color: #9e9e9e;
}

/*.avatar {
    grid-area: avatar;

    background: #fff;
    border:1px solid #2bbfbd;
    margin: 15px 0 15px 15px;
}

.avatar img {
    padding: 15px;
    width: 233px;
}*/

/*.avatarData {
    grid-area: avatarData;

    background: #fff;
    border:1px solid #2bbfbd;
    margin: 15px 15px 0 0;
}*/

.data {
    padding: 15px;
}
/*



.block3 {
    grid-area: block3;

    background: #fff;
    border:1px solid #2bbfbd;
    margin: 0 15px 15px 0;
}*/
