div .users {
    display: grid;

    grid-template-areas:
            "people news";
    /*grid-template-rows: 1fr 1fr;*/
    grid-auto-columns: 3fr 1fr;
    grid-gap: 15px;
    color: #9e9e9e;
}

.people {
    grid-area: people;

    background: #fff;
    border:1px solid #2bbfbd;
    margin: 15px;
    margin-right: 0px;
    padding: 15px;
}

.news {
    grid-area: news;

    background: #fff;
    border:1px solid #2bbfbd;
    margin: 15px;
    margin-left: 0px;
    padding: 15px;
}

.peopleAvatar{
    display: inline-block;
    width: 80px;
}

.peopleAvatar img {
    border-radius: 50%;
    /*border: 1px solid red;*/
}

.peopleData {
    display: inline-block;
    width: 300px;
    /*border: 1px solid red;*/
}

.peopleButton {
    display: inline-block;
    /*background: #2bbfbd;*/
}

.buttonAdd {
    background: #2bbfbd;
    color: #fff;
}

.buttonRemove {
    background: #B09E9E;
    color: #fff;
}