body {
  background: #eeeeee;
  text-shadow: 0 0 1em #2bbfbd;
}

.appWrapper {
  display: grid;

  grid-template-areas:
          "header header"
          "nav content";
  grid-template-rows: 100px 1fr;
  grid-auto-columns: 125px 10fr;
}

.header {
  grid-area: header;
  background: #2bbfbd;
}


.header img {
  width: 125px;
}

.nav {
  grid-area: nav;
  background: #121920;
  padding: 20px;
}

.item a {
  color:#7C7C7C;
  text-decoration: none;
}

.item a.activeLink {
  color: #2bbfbd;
}

.content {
  grid-area: content;
  border:1px solid red;
}

div .content {
  display: grid;

  grid-template-areas:
          "block1 block2"
          "block1 block3";
  grid-template-rows: 350px 1fr;
  grid-auto-columns: 1fr 2fr;
}

.block1 {
  grid-area: block1;
}

.block2 {
  grid-area: block2;
}

.block3 {
  grid-area: block3;
}
